body {
    justify-items: center;
    display: grid;
    /* grid-template-columns: 1;
    grid-template-rows: 5fr 1fr 1fr; */
}

#refresh {
    border-radius: 50%;
    background-color: green;
    color: white;
    font-weight: bolder;
    padding: 5px;
    height: 100px;
    width: 100px;
}

input {
    margin: 20px;
}